{% extends bill_base %}
{% load static %}


{% block title %} Purchases Bill No : {{ bill.billno }}{% endblock title %}


{% block content %}

    
    
    <form method="post">
    {% csrf_token %}

        <div class="bg">
        
            <br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;">REQUISITION - PURCHASE</p> </td>
                        </tr>
                        
                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 350%;"><img src="{% static "dj_app/media/logo.png" %}" width="25%" height="25%" alt="home" /></span> <br>
                                <span style="font-size: 120%; font-weight: bold;">DEALERS IN : <span>Handcrafted leather & textile bags</span></span> <br>
                                <span style="font-weight: bold;">REGD ADDRESS :</span> Ngong Road Professional Centre,<br>2nd Ngong Rd, Nairobi<br>
                                <span style="font-weight: bold;">EMAIL : info@jeilocollections.com</span> <br><br>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp;NAME OF SUPPLIER</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;PHONE</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.supplier.name }}</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.supplier.phone}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;REFERENCE NO</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;DATE</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.billno }}</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.time.date }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">&nbsp;SL</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">GOODS</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">QTY </td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">UNIT PRICE</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">TOTAL [KES]</td>                                        
                                    </tr>
                                    {% for item in items %}
                                    <tr style="height: auto;">
                                        <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                        <td class="inner-box" style="width: 30%;">&nbsp; {{ item.material }}</td>
                                        <td class="inner-box" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                        <td class="inner-box" style="width: 12%;">&nbsp; {{ item.perprice }}</td>
                                        <td class="inner-box" style="width: 12%;">&nbsp;{{ item.totalprice }}</td>
                                    </tr>
                                    {% endfor %}
                                    <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                                                    
                                            
                                        <tr>
                                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                                <tbody>
                                                    <tr>
                                                        <td  style="text-align: right;">
                                                            <span style="font-weight: bold;">FOR COMPANY <br><br><br><br> Signature</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </tr>
                                    </table>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                    </tbody>    
                </table>
                            <tr>
                                <td style="text-align: center;"></td>
                            </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <br><br>

        <div class="wrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">Print</button>
            {% comment %} <button class="center btn btn-success" type="submit">Save Draft</button> {% endcomment %}
            <a href="{% url 'purchases-list' %}" class=" btn center btn-primary">Save</a>
            <a href="{% url 'purchase-bill-pdf' bill.billno %}?download_pdf=true" class="center btn btn-primary">Download </a>
        </div><!-- Log on to codeastro.com for more projects -->

    </form>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}